apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: $CA_DATA_HPERM
    server: $API_ENDPOINT_HPERM
  name: $CLUSTER_NAME_HPERM
contexts:
- context:
    cluster: $CLUSTER_NAME_HPERM
    user: $USERNAME_HPERM
  name: $CLUSTER_NAME_HPERM
current-context: $CLUSTER_NAME_HPERM
kind: Config
preferences: {}
users:
- name: $USERNAME_HPERM
  user:
    token: $TOKEN_HPERM